@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css or a similar file */
@keyframes slideFromBottom {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-70px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(70px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-bottom {
  animation: slideFromBottom 1s ease-out;
}

.animate-slide-left {
  animation: slideFromLeft 1s ease-out;
}
.animate-from-right {
  animation: slideFromRight 1s ease-out;
}
